@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 1vw;
}

a {
    text-decoration: none;
}

.header {
    background: url("../img/sample2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 49vw;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin-top: 2vw;
}

.nav a {
    color: #ffffff;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 0.25vw;
}

.register a:first-child {
    margin-right: 3vw;
}

.heading h1 {
    font-size: 3.5vw;
    text-transform: uppercase;
    letter-spacing: 0.7vw;
    font-weight: 300;
}

.heading h1 span {
    font-size: 6vw;
}

.heading p {
    text-align: center;
}

.header-buttons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 7vw;
}

.header-button {
    background-color: transparent;
    color: #FFFFFF;
    border: 0.2vw solid #FFFFFF;
    text-decoration: none;
    padding: 1vw 5vw;
}

.header-button:hover {
    background-color: #000000;
    border-color: #9E9E9E;
    color: #9E9E9E;
    transition-duration: 1s;
}

.triangles {
    background: linear-gradient(to top right, #F0F0F0 50%, #000000 50%);
    height: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.triangles p:first-child {
    max-width: 35%;
    align-self: flex-end;
    color: #FFFFFF;
    padding-right: 3vw;
    font-size: 1vw;
}

.triangles p:last-child {
    max-width: 26%;
    color: #000000;
    font-size: 1.2vw;
    padding: 0 0 2vw 3vw;
}

.triangles p:last-child b {
    font-size: 1.2vw;
}

.article-header {
    text-align: center;
    font-weight: 300;
    font-size: 1.8vw;
}

.article-header b {
    font-size: 1.8vw;
}

.article {
    background-color: #F0F0F0;
    text-align: center;
}

.article-image-wrapper-one {
    background: url("../img/sample-1.jpg") no-repeat;
}

.article-image-wrapper-two {
    background: url("../img/sample-2.jpg") no-repeat;
    order: 1;
}

.article-image-wrapper-one,
.article-image-wrapper-two {
    min-width: 45%;
    background-position: top;
    background-size: cover;
    min-height: 24vw;
    position: relative;
}

.photo-signature {
    text-align: left;
    position: absolute;
    bottom: 1vw;
    left: 1.5vw;
    color: #F0F0F0;
    font-size: 1vw;
}

.likes-wrapper {
    position: absolute;
    top: 1.7vw;
    right: 1vw;
}

.likes-wrapper a {
    color: #E8E8E8;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.2vw solid #E8E8E8;
    padding: 0.3vw 0.8vw;
    font-size: 1vw;
}

.likes-wrapper a:hover {
    background-color: transparent;
    border: 0.2vw solid #9E9E9E;
    transition-duration: 1s;
}

.article-text-wrapper-one,
.article-text-wrapper-two {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.article-text-wrapper-one p,
.article-text-wrapper-two p {
    max-width: 85%;
    align-self: flex-end;
    font-size: 1vw;
}

.article-text-wrapper-two p {
    align-self: flex-start;
}

.article-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
}

.article-text-wrapper-two,
.article-image-wrapper-two {
    margin-top: 1.3vw;
    margin-bottom: 4vw;
}

.explore-block-one {
    background: url("../img/news-list-1.jpg") no-repeat;
}

.explore-block-two {
    background: url("../img/news-list-2.jpg") no-repeat;
}

.explore-block-three {
    background: url("../img/news-list-3.jpg") no-repeat;
}

.explore-block-four {
    background: url("../img/news-list-4.jpg") no-repeat;
}
.explore-block-one,
.explore-block-two,
.explore-block-three,
.explore-block-four {
    min-width: 17%;
    background-position: left;
    background-size: cover;
    min-height: 20vw;
    position: relative;
}

.explore-blocks-wrapper {
    display: flex;
    justify-content: space-around;
}

.places-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #097774;
    opacity: 0.9;
    width: 90%;
    height: 2.3vw;
    border: none;
    font-weight: 900;
    font-size: 1vw;
    color: #FFFFFF;
}

.places-button:hover {
    opacity: 1;
    transition-duration: 1s;
}

.explore-section {
    padding: 4vw 4vw 0 4vw;
}

.load-news-button {
    display: block;
    margin: 4vw auto 3vw auto;
    min-width: 22vw;
    min-height: 3vw;
    color: #FFFFFF;
    background-color: #097774;
    border: none;
}

.load-news-button:hover {
    opacity: 0.5;
    transition-duration: 1s;
}

.aside {
    background-color: #F0F0F0;
    padding: 3vw 1.5vw;
}

.subscribe-form {
    text-align: right;
    padding-top: 1.5vw
}

.subscribe-form label {
    font-size: 1.7vw;
    padding-right: 1vw;
}

.subscribe-form label b {
    font-size: 1.7vw;
}

.subscribe-form input {
    padding: 0.5vw 0.8vw;
    border: 0.1vw solid  #000000;
    max-width: 9vw;
    margin-right: 0.5vw;
}

.subscribe-form input::placeholder {
    color: #000000;
}

.subscribe-form button {
    min-width: 6vw;
    min-height: 2.6vw;
    color: #FFFFFF;
    background-color: #097774;
    border: none;
    font-weight: 500;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4vw;
}

.page-footer p {
    color: #9E9E9E;
}

.footer-nav ul {
    display: flex;
    flex-direction: row;
    min-width: 20vw;
    justify-content: space-around;
    list-style: none;
}

.footer-nav a {
    color: #000000;
}
