<header>
    <div class="heading">
        <h2>News</h2>
    </div>
    <hr>
    <div class="nav">
        <select>
            <option value='News1'>News1</option>
            <option value='News2'>News2</option>
            <option value='News3'>News3</option>
        </select>
        <form>
            <input type='text' placeholder='Type your text...'>
            <input type='submit' value='filter'>
        </form>
        <button routerLink='/create'>Add article</button>
    </div>
</header>
