$headerFontColor:#FFFFFF;
$themeColor:#3B3F50;
$markerColor:#FF4E33;
$buttonColor:#E3AC00;
$gradientRightColor:#98364C;
$gradientLeftColor:#DFA604;
$bodyBackgroundColor:#21232E;
$headerBackGroundImage: url('../img/m-h-night.jpg') no-repeat;
$headingFont: 'Source Sans Pro', sans-serif;
$textFont: 'Fresca', sans-serif;