$headerFontColor: #2C2F3C;
$themeColor: #21232E;
$markerColor: #14A0C7;
$buttonColor: #699900;
$gradientRightColor:#305ECF;
$gradientLeftColor: #649410;
$bodyBackgroundColor: #FFFFFF;
$headerBackGroundImage: url('../img/m-h-day.jpg') no-repeat;
$headingFont: 'Source Sans Pro', sans-serif;
$textFont: 'Hind', sans-serif;