.item-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-wrapper {
    height: 100px;
    min-width: 100px;
    border: 1px solid black;
    margin-top: 50px;
    margin-right: 20px;
}

.news-wrapper {
    max-width: 400px;
    display: flex; 
    justify-content: space-between
}